
body{
	background-color: rgb(4, 41, 65);
}


header{
	width: 100%;
	height: 50px;
	/*background-color: rgb(10, 22, 98);*/
}

main{
	width: 100%;
	height: 90%;
	/*background-color: rgb(169, 164, 164); */
	display: flex;
	justify-content: space-between;
}

section{
	width: 40%;
	height: 100%;
	/*background-color: rgb(68, 69, 68);*/
	
}

.seccion1{
	width: 70%;
}

.area{
	width: 80%;
	height: 70%;
	display: block;
	margin: auto;
	margin-top: 30px;
	resize: none;
	font-size: 15px;
}

.contenedor-botones{
	text-align: center;
	margin: 30px;
}
.btn-encriptar, .btn-desencriptar{
	width: 15%;
	height: 40px;


}
.seccion2{
	width: 20%;
	background-color: rgb(66, 74, 74);
	border-radius: 35px;
	margin-right: 120px;
	box-sizing: border-box;
	overflow: hidden;
}

.contenedor-munieco{
	width: 100%;
	height: 60%;
	padding-top: 100px;
	box-sizing: border-box;
	overflow: hidden;
}

.contenedor-h3{
	width: 100%;
	height: 20%;
	text-align: center;
}

.contenedor-parrafo{
	width: 100%;
	height: 20%;
	text-align: center;
}
.contenedor-resultado{
	width: 100%;
	height: 80%;
	padding: 15px;
	box-sizing: border-box;

}
.btn-copiar{
	width: 35%;
	height: 40px;
}
.contenedor-copiar{
	width: 100%;
	height: 20%;
	text-align: center;

}
footer{
	width: 100%;
	height: 50px;
	background-color: rgb(43, 43, 44);
	text-align: center;
}

.ocultar{
	display: none;
}
	

